{{#if isHeightKnown}}
    <div class="sd-table__wrap">
        <div class="sd-table__head">
            <div class="sd-table__row">
                {{#each columns key="id" as |column|}}
                    {{#if column.headComponentName}}
                        {{component
                            column.headComponentName
                            row
                            isHead=true
                            click=(action column.clickAction target=parentView)
                        }}
                    {{else}}
                        <div class="sd-table__head-cell">
                            <div class="sd-table__cell-content">
                                {{column.name}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="sd-table__body">
            {{#virtual-each rows
              height=height
              itemHeight=24
              rowPadding=5
              scrollTimeout=10
              as |row|
            }}
            {{!-- {{#each rows as |row|}} --}}
                <div
                    class="sd-table__row sd-table__row {{if row.isSelected "sd-table__row--is-selected"}}"
                    {{action select row}}
                    {{action "mouseOver" row on="mouseOver"}}
                >
                    {{#each row.columns key="@index" as |rowColumn|}}
                        {{#if rowColumn.configuration.cellComponentName}}
                            {{component
                                rowColumn.configuration.cellComponentName
                                row=row
                                isHead=false
                                isRowMouseOver=false
                                isRowSelected=row.isSelected
                                click=(action rowColumn.configuration.clickAction target=parentView)
                            }}
                        {{else}}
                            <div class="sd-table__cell">
                                <div class="sd-table__cell-content">
                                    {{rowColumn.value}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            {{!-- {{/each}} --}}
            {{/virtual-each}}
        </div>
    </div>
{{/if}}