{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

{{#if isBodyHeightKnown}}
    <div class="sd-table__wrap">
        <div class="sd-table__head">
            <div class="sd-table__head-row">
                {{#each columns key="id" as |column|}}
                    {{#if column.headComponentName}}
                        {{component
                            column.headComponentName
                            row=row
                            column=column
                        }}
                    {{else}}
                        <div class="sd-table__head-cell">
                            <div class="sd-table__cell-content">
                                {{column.name}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="sd-table__body">
            {{#virtual-each rowsConfiguration
                height=bodyHeight
                itemHeight=rowHeight
                rowPadding=5
                scrollTimeout=10
                data-ref="body"
                as |row|
            }}
                {{#sd-table-row
                    row=row.configuration
                    isSelected=row.isSelected
                    select=(action "select" row)
                    activate=(action "activate" row)
                    as |rowConfiguration|
                }}
                    {{#each rowConfiguration.configuration.columns key="@index" as |cell|}}
                        {{#if cell.configuration.cellComponentName}}
                            {{component
                                cell.configuration.cellComponentName
                                row=rowConfiguration.configuration
                                cell=cell
                                isHead=false
                                isRowMouseOver=rowConfiguration.isMouseOver
                                isRowSelected=row.isSelected
                                click=(action cell.configuration.properties.clickAction target=parentView)
                            }}
                        {{else}}
                            <div class="sd-table__cell">
                                <div class="sd-table__cell-content">
                                    {{sd-tokenized-output output=cell.output}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/sd-table-row}}
            {{/virtual-each}}
        </div>
    </div>
{{/if}}