{{#if dataStore.isLoading}}
    Loading... ({{number-to-string dataStore.loadingProgress}}%)
{{/if}}

{{#if dataStore.hasLoaded}}
    {{#if isCategoryLayout}}
        <div class="capture-overview__categories">
            {{#each categories as |category|}}
                <div class="capture-overview__category-tiles">
                    <h3 class="capture-overview__category-name">{{category.name}}</h3>
                    {{#each category.metricsData as |metric|}}
                        {{metric-summary
                            classNames="metric-summary--is-category-item"
                            data=metric.data
                            isSelected=metric.isSelected
                            select=(action toggleMetricTimeline metric.data.name)
                        }}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="capture-overview__tiles">
            {{#each metricsData as |metric|}}
                {{metric-summary
                    data=metric.data
                    isSelected=metric.isSelected
                    select=(action toggleMetricTimeline metric.data.name)
                }}
            {{/each}}
        </div>
    {{/if}}

    <div class="capture-overview__timelines {{if timelinesData "" "capture-overview__timelines--empty"}}">
        {{#each timelinesData as |timeline|}}
            {{metric-timeline
                data=timeline
                drillDown=(action drillDown timeline.targetView)
                remove=(action removeMetricTimeline timeline.name)
            }}
        {{else}}
            Select a metric to explore the timeline
        {{/each}}
    </div>
{{/if}}