{{#if captureSummary.isLoading}}
    Loading... ({{number-to-string captureSummary.loadingProgress}}%)
{{/if}}

<div class="capture-overview__tiles">
    {{#if captureSummary.hasLoaded}}
        {{#each metricsData as |metric|}}
            {{metric-summary
                data=metric.data
                isSelected=metric.isSelected
                select=(action toggleMetricTimeline metric.data.name)
            }}
        {{/each}}
    {{/if}}
</div>

<div class="capture-overview__timelines {{if timelinesData "" "capture-overview__timelines--empty"}}">
    {{#each timelinesData as |timeline|}}
        {{metric-timeline
            data=timeline
            drillDown=(action drillDown timeline.name)
            remove=(action removeMetricTimeline timeline.name)
        }}
    {{else}}
        Select a metric to explore the timeline
    {{/each}}
</div>