<div class="metric-timeline__close">
    {{wsd-button iconName="close" classNames="wsd-button--fab wsd-button--highlight-on-hover" size="sm" click=(action remove)}}
</div>

<div class="metric-timeline__header">
    {{data.name}}
</div>

<div class="metric-timeline__time-series">
    {{sd-time-series
        height=timeSeriesHeight
        width=timeSeriesWidth
        timestampProp="t"
        valueProp="v"
        data=data.timeSeries
    }}
</div>

<div class="metric-timeline__value">
    {{number-to-string data.totalValue}}
</div>

<div class="metric-timeline__control">
    {{wsd-button iconName="arrow-forward" classNames="wsd-button--fab wsd-button--raised" click=(action drillDown)}}
</div>
