<div class="metric-timelines__headers">
    {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
        <div class="metric-timelines__headers-item">
            <div class="metric-timelines__close">
                {{wsd-button iconName="close" classNames="wsd-button--fab wsd-button--highlight-on-hover" size="sm" click=(action remove timelineConfiguration.timeline.name)}}
            </div>

            <div class="metric-timelines__name">
                {{timelineConfiguration.timeline.name}}
            </div>
        </div>
    {{/each}}
</div>

<div class="metric-timelines__contents">
    {{#if canRenderTimelines}}
        <svg width="{{timelinesWidth}}" height="{{timelinesHeight}}">
            {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
                {{time-series-item
                    height=timeSeriesHeight
                    width=timelinesWidth
                    timestampProp="t"
                    valueProp="v"
                    translateY=timelineConfiguration.offsetY
                    data=timelineConfiguration.timeline.timeSeries
                }}
            {{/each}}

            {{brush-overlay
                from=timeWindow.from
                to=timeWindow.to
                data=brushOverlayData
                categoryProp="t"
                width=timelinesWidth
                height=brushOverlayHeight
                translateY=brushOverlayOffsetY
                select=(action selectTimeWindow)
            }}
        </svg>
    {{/if}}
</div>

<div class="metric-timelines__controls">
    {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
        <div class="metric-timelines__controls-item">
            <div class="metric-timelines__value">
                {{number-to-string timelineConfiguration.timeline.totalValue}}
            </div>

            <div class="metric-timelines__button">
                {{wsd-button
                    iconName="arrow-forward"
                    classNames="wsd-button--fab wsd-button--raised"
                    click=(action drillDown timelineConfiguration.timeline.targetView timeWindow.from timeWindow.to timelineConfiguration.timeline.targetViewFilter)
                }}
            </div>
        </div>
    {{/each}}
</div>




