<div class="wsd-metric-tile__header">
    {{data.name}}
</div>

<div class="wsd-metric-tile__value">
    {{number-to-string data.totalValue}}

    <div>
        {{sd-button
            iconName=(if isSelected "star_black" "star_border_black")
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            click=(action toggleTimeline)
        }}
    </div>

    <div>
        {{sd-button
            iconName="info_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            click=(action select)
        }}
    </div>
</div>

<div class="wsd-metric-tile__time-series">
    {{sd-time-series
        height=timeSeriesHeight
        width=timeSeriesWidth
        isSelected=isSelected
        timestampProp="t"

        valueProp="v"
        data=data.timeSeries
        theme="background"
    }}
</div>
