<div class="wsd-metric-timelines__headers">
    {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
        <div class="wsd-metric-timelines__headers-item">
            <div class="wsd-metric-timelines__name">
                {{timelineConfiguration.timeline.name}}
            </div>
        </div>
    {{/each}}
</div>

<div class="wsd-metric-timelines__contents">
    {{#sd-promise-wait-overlay promiseState=summaryDataStore classNames="sd-promise-wait-overlay--sm"}}
        {{#if canRenderTimelines}}
            <svg width="{{timelinesWidth}}" height="{{timelinesHeight}}">
                {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
                    {{sd-viz-histogram-series
                        height=timeSeriesHeight
                        width=timelinesWidth
                        timestampProp="t"
                        valueProp="v"
                        translateY=timelineConfiguration.offsetY
                        data=timelineConfiguration.timeline.timeSeries
                    }}
                {{/each}}

                {{sd-brush-overlay
                    from=timeWindow.from
                    to=timeWindow.to
                    data=brushOverlayData
                    categoryProp="t"
                    width=timelinesWidth
                    height=brushOverlayHeight
                    translateY=brushOverlayOffsetY
                    select=(action selectTimeWindow)
                }}
            </svg>
        {{/if}}
    {{/sd-promise-wait-overlay}}
</div>

<div class="wsd-metric-timelines__controls">
    {{#each timelinesConfiguration key="timeline.name" as |timelineConfiguration|}}
        <div class="wsd-metric-timelines__controls-item">
            <div class="wsd-metric-timelines__button">
                {{sd-button
                    iconName="close"
                    classNames="sd-button--fab sd-button--highlight-on-hover"
                    size="sm"
                    click=(action remove timelineConfiguration.timeline.name)
                }}
            </div>
        </div>
    {{/each}}
</div>




