<div class="wsd-capture-data-echo__content">
    {{#each rows key="@index" as |row|}}
        <div class="wsd-capture-data-echo__row">
            {{row.d}} {{row.f}} {{row.l}} {{row.p}} {{row.v}}
        </div>
    {{/each}}
</div>
