{{#sd-promise-wait-overlay promiseState=viewsManager.store classNames="sd-promise-wait-overlay--sm"}}
    <div class="wsd-capture-breadcrumbs__content">
        {{#each breadcrumbItems key="configuration.id" as |item|}}
            <div
                class="wsd-capture-breadcrumbs__step
                    {{if isRoot "wsd-capture-breadcrumbs__step--is-root"}}
                    {{if item.isHome "wsd-capture-breadcrumbs__step--is-home"}}
                    {{if item.isSelected "wsd-capture-breadcrumbs__step--is-selected"}}
                    {{if item.selection "wsd-capture-breadcrumbs__step--with-description"}}"
                {{action select item.step}}
            >
                {{#if item.isHome}}
                    <div class="wsd-capture-breadcrumbs__step-icon">
                        {{svg-jar "home_black" class=(if item.isSelected "sd-icon sd-icon--primary" "sd-icon sd-icon--lighter") width="32px" height="32px"}}
                    </div>
                {{/if}}

                <div class="wsd-capture-breadcrumbs__step-content">
                    <div class="wsd-capture-breadcrumbs__step-header">
                        {{#if item.iconName}}
                            <span class="wsd-capture-breadcrumbs__step-icon">
                                {{svg-jar item.iconName class="icon" width="24px" height="24px"}}
                            </span>
                        {{/if}}

                        <span class="wsd-capture-breadcrumbs__step-name">
                            {{item.name}}
                        </span>
                    </div>
                    <div class="wsd-capture-breadcrumbs__step-description">
                        {{#if item.key}}
                            {{item.key}} =
                        {{/if}}

                        {{item.selection}}
                    </div>
                </div>
            </div>

            {{#unless item.isSelected}}
                <div class="wsd-capture-breadcrumbs__separator">
                    {{svg-jar "chevron_right_black" class="sd-icon" width="24px" height="24px"}}
                </div>
            {{/unless}}
        {{/each}}
    </div>
{{/sd-promise-wait-overlay}}
