<div class="wsd-echo-op__header">
    {{#if isRead}}
        Read {{length}}B from
    {{else}}
        Write {{length}}B to
    {{/if}}

    {{sd-tokenized-output output=fd}}

    {{#if container}}
        ({{sd-tokenized-output output=container}}, {{sd-tokenized-output output=proc}})
    {{else}}
        ({{sd-tokenized-output output=proc}})
    {{/if}}
</div>
<pre class="wsd-echo-op__content">{{sd-tokenized-output output=output}}</pre>
