{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

<div class="wsd-echo-op__header">
    {{#if isRead}}
        Read {{length}}B from
    {{else}}
        Write {{length}}B to
    {{/if}}

    {{sd-tokenized-output output=fd}}

    {{#if container}}
        ({{sd-tokenized-output output=container}}, {{sd-tokenized-output output=proc}})
    {{else}}
        ({{sd-tokenized-output output=proc}})
    {{/if}}
</div>
<pre class="wsd-echo-op__content">{{sd-tokenized-output output=output}}</pre>
