<div class="wsd-metric-tile__header">
    <div class="wsd-metric-tile__name">
        {{data.name}}
    </div>
    <div class="wsd-metric-tile__value">
        {{number-to-string data.totalValue decimalCount=1}}
    </div>
</div>

<div class="wsd-metric-tile__content">
    {{#if isEmpty}}
        No data
    {{else}}
        <div class="wsd-metric-tile__time-series">
            {{sd-time-series
                height=timeSeriesHeight
                width=timeSeriesWidth
                isSelected=isTimelinePinned
                timestampProp="t"

                valueProp="v"
                data=data.timeSeries
                theme="background"
            }}
        </div>
    {{/if}}
</div>

<div class="wsd-metric-tile__footer">
    <div class="wsd-metric-tile__footer-left">
        <div class="wsd-metric-tile__footer-action">
            {{sd-button
                iconName=(if isTimelinePinned "check_box_black" "check_box_outline_blank")
                classNames="sd-button--fab sd-button--highlight-on-hover"
                tabIndex=-1
                size="sm"
                click=(action select)
            }}
        </div>
    </div>
    <div class="wsd-metric-tile__footer-right">
        <div class="wsd-metric-tile__footer-action">
            {{sd-button
                iconName="info_outline"
                classNames="sd-button--fab sd-button--highlight-on-hover"
                tabIndex=-1
                size="sm"
            }}
        </div>
        <div class="wsd-metric-tile__footer-action">
            {{sd-button
                iconName="forward_black"
                classNames="sd-button--fab sd-button--highlight-on-hover"
                tabIndex=-1
                size="sm"
                click=(action drillDown)
            }}
        </div>
    </div>
</div>
