<div class="wsd-echo-op__header">
    {{#if isRead}}
        Read {{op.l}}B from
    {{else}}
        Write {{op.l}}B to
    {{/if}}
    {{op.f}} ({{op.p}})
</div>
<pre class="wsd-echo-op__content">{{op.v}}</pre>
