<div class="wsd-metric-tile__header">
    <div class="wsd-metric-tile__name" {{action drillDown bubbles=false}}>
        {{data.name}}
    </div>
     <div class="wsd-metric-tile__header-action">
        {{sd-button
            iconName=(if isTimelinePinned "check_circle_black" "radio_button_unchecked_black")
            classNames="sd-button--fab"
            tabIndex=-1
            title="Toggle the metric timeline"
        }}
    </div>
</div>

<div class="wsd-metric-tile__content">
    {{#if isEmpty}}
        <span class="wsd-metric-tile__empty-value">No data</span>
    {{else}}
        <span class="wsd-metric-tile__value">
            {{number-to-string data.totalValue decimalCount=1 isMultiplierOmitted=true}}
        </span>
        <span class="wsd-metric-tile__value-multiplier">
            {{number-to-string data.totalValue decimalCount=1 isValueOmitted=true}}
        </span>
    {{/if}}
</div>

<div class="wsd-metric-tile__footer">
    {{sd-time-series
        height=timeSeriesHeight
        width=timeSeriesWidth
        timestampProp="t"

        valueProp="v"
        data=data.timeSeries
        theme="background"
    }}
</div>
