<div class="wsd-metric-tile__header">
    <div class="wsd-metric-tile__header-text">
        {{data.name}}
    </div>
    <div class="wsd-metric-tile__header-action">
        {{sd-button
            iconName="info_outline"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            tabIndex=-1
            click=(action drillDown)
        }}
    </div>
</div>

<div class="wsd-metric-tile__content">
    <div class="wsd-metric-tile__value">
        {{number-to-string data.totalValue}}
    </div>
</div>

<div class="wsd-metric-tile__footer">
    <div class="wsd-metric-tile__time-series">
        {{sd-time-series
            height=timeSeriesHeight
            width=timeSeriesWidth
            isSelected=isTimelinePinned
            timestampProp="t"

            valueProp="v"
            data=data.timeSeries
            theme="background"
        }}
    </div>

    <div class="wsd-metric-tile__footer-action">
        {{sd-button
            iconName=(if isTimelinePinned "star_black" "star_border_black")
            classNames="sd-button--fab sd-button--highlight-on-hover"
            tabIndex=-1
            size="sm"
        }}
    </div>

</div>
