{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

<div class="wsd-metric-tile__header">
    <div class="wsd-metric-tile__name" {{action drillDown bubbles=false}}>
        {{data.name}}
    </div>
     <div class="wsd-metric-tile__header-action">
        {{sd-button
            iconName=(if isTimelinePinned "check_circle_black" "radio_button_unchecked_black")
            classNames="sd-button--fab"
            tabIndex=-1
            title="Toggle the metric timeline"
        }}
    </div>
</div>

<div class="wsd-metric-tile__content">
    <span class="wsd-metric-tile__value">
        {{number-to-string data.totalValue decimalCount=1 isMultiplierOmitted=true}}
    </span>
    <span class="wsd-metric-tile__value-multiplier">
        {{number-to-string data.totalValue decimalCount=1 isValueOmitted=true}}
    </span>
</div>

<div class="wsd-metric-tile__footer">
    {{sd-time-series
        height=timeSeriesHeight
        width=timeSeriesWidth
        timestampProp="t"

        valueProp="v"
        data=data.timeSeries
        theme="background"
    }}
</div>
