{{#if dataStore.isLoading}}
    Loading... ({{number-to-string dataStore.loadingProgress}}%)
{{/if}}

{{#if dataStore.hasLoaded}}
    {{#if isCategoryLayout}}
        <div class="capture-overview__content">
            <div class="capture-overview__categories">
                {{#each categories key="name" as |category|}}
                    <div class="capture-overview__category-tiles">
                        <div class="metric-summary">
                            <div class="metric-summary__header">
                                {{category.name}}
                            </div>

                            <div class="metric-summary__value">
                            </div>

                            <div class="metric-summary__time-series">
                            </div>
                        </div>

                        {{#each category.metricsData key="data.name" as |metric|}}
                            {{metric-summary
                                classNames="metric-summary--is-category-item"
                                data=metric.data
                                isSelected=metric.isSelected
                                select=(action "drillDown" metric.data.name metric.data.targetViewFilter metric.data.targetView)
                                toggleTimeline=(action toggleMetricTimeline metric.data.name)
                            }}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="capture-overview__tiles">
            {{#each metricsData key="data.name" as |metric|}}
                {{metric-summary
                    data=metric.data
                    isSelected=metric.isSelected
                    select=(action "drillDown" metric.data.name metric.data.targetViewFilter metric.data.targetView)
                    toggleTimeline=(action toggleMetricTimeline metric.data.name)
                }}
            {{/each}}
        </div>
    {{/if}}

{{!--     {{#if timelinesData}}
        <div class="capture-overview__timelines">
            {{metric-timelines
                timeWindow=timeWindow
                timelines=timelinesData
                selectTimeWindow=(action selectTimeWindow)
                drillDown=(action drillDown)
                remove=(action removeMetricTimeline)
            }}
        </div>
    {{else}}
        <div class="capture-overview__timelines capture-overview__timelines--empty">
            Select a metric to explore the timeline
        </div>
    {{/if}}
 --}}
{{/if}}